<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Gtech_Media::gtech" title="Gtech" sortOrder="51">
					<resource id="Gtech_Media::media_allmedia" title="All Media" sortOrder="10">
						<resource id="Gtech_Media::save" title="Save Media" translate="title" sortOrder="10" />
						<resource id="Gtech_Media::media_delete" title="Delete Media" translate="title" sortOrder="20" />
					</resource>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Gtech_Media::media_config" title="Gtech Media" translate="title"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
